<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.im.service.friendship.mapper.ImFriendshipMapper">

    <resultMap id="BaseResultMap" type="com.yang.im.service.friendship.entity.ImFriendship">
            <id property="appId" column="app_id" jdbcType="INTEGER"/>
            <id property="fromId" column="from_id" jdbcType="VARCHAR"/>
            <id property="toId" column="to_id" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="black" column="black" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="friendSequence" column="friend_sequence" jdbcType="BIGINT"/>
            <result property="blackSequence" column="black_sequence" jdbcType="BIGINT"/>
            <result property="addSource" column="add_source" jdbcType="VARCHAR"/>
            <result property="extra" column="extra" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        app_id,from_id,to_id,
        remark,status,black,
        create_time,friend_sequence,black_sequence,
        add_source,extra
    </sql>
</mapper>
