<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.im.service.user.mapper.ImUserDataMapper">

    <resultMap id="BaseResultMap" type="com.yang.im.service.user.entity.ImUserData">
            <id property="appId" column="app_id" jdbcType="INTEGER"/>
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="userSex" column="user_sex" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="selfSignature" column="self_signature" jdbcType="VARCHAR"/>
            <result property="friendAllowType" column="friend_allow_type" jdbcType="INTEGER"/>
            <result property="forbiddenFlag" column="forbidden_flag" jdbcType="INTEGER"/>
            <result property="disableAddFriend" column="disable_add_friend" jdbcType="INTEGER"/>
            <result property="silentFlag" column="silent_flag" jdbcType="INTEGER"/>
            <result property="userType" column="user_type" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="extra" column="extra" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        app_id,user_id,nick_name,
        password,photo,user_sex,
        birthday,location,self_signature,
        friend_allow_type,forbidden_flag,disable_add_friend,
        silent_flag,user_type,del_flag,
        extra
    </sql>
</mapper>
